body{
background-image: url("../img/74afc4075f361e228a89787a4a1d0fc6.gif");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    perspective: 100px;perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: 0.3s ease onLoadAnimation;


}

.main-content{
    flex-grow: 1;
    animation: 0.4s ease-in onLoadAnimation;
}
.main__searchBox{
    margin-top: 30%;
    padding: 30px;

}
#temp-value{
    font-size: 30px;
    font-weight: 900 ;
}
footer{
   color: white;
   border-top: 1px solid #eeeeee;
   margin-top: 16px;
   padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px ;

}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.porfrolio_slika{
    width: 250px;
    height: 390px;
    border-radius: 60px;

}
 
input{
border: 1px solid #cccccc;
padding: 8px;
}
input:focus{
    
 
}

button{
cursor: pointer;
border: 1px solid #cb5454;
background-color: #cb5454;
color: white;
padding: 8px;
}




 @keyframes onLoadAnimation{
     0%{
        opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }